:host {
  main {
    margin-top: 2.5rem;

    .pokemon__names {
      position: relative;
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;

      height: 75px;

      padding: 0 1.8rem;

      h1 {
        color: var(--branco);
        font-size: 2rem;
        text-transform: capitalize;
      }

      h2 {
        position: absolute;
        font-weight: 100;
        top: 0;
        font-size: 3.75rem;
        color: rgba(255, 255, 255, 0.1);
      }
    }

    .pokemon__status {
      position: relative;

      img {
        position: absolute;
        top: -5.6rem;
        left: 1.8rem;
        max-width: 8.1rem;
        z-index: 10;
      }

      &__statistics {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        background: var(--branco);

        min-height: 43.9vh;
        margin-top: 0.6rem;

        padding: 6.8rem 35px 30px;
        border-radius: 50px 50px 0 0;

        h3 {
          margin-bottom: 20px;
          font-weight: 700;
          font-style: italic;
          font-size: 32px;
          text-decoration: underline;
          color: var(--secondary-color);
        }

        ol {
          li {
            display: flex;
            justify-content: space-between;
            font-size: 18px;
            line-height: 130%;
          }
        }
      }

    }
  }
}
