<app-poke-search (emmitSearch)="getSearch($event)"></app-poke-search>

<section class="listagem" infinite-scroll
[infiniteScrollDistance]="2"
[infiniteScrollThrottle]="1000"
(scrolled)="onScroll()">
  <ng-template ngFor let-pokemon [ngForOf]="getAllPokemons" >
    <a [routerLink]="['details', pokemon.status.id]" class="pokemon" *ngIf="pokemon.status">
      <section class="pokemon__status">
        <h2>{{pokemon.name}}</h2>
      <ul>
        <li *ngFor="let value of pokemon?.status.types">
          {{value.type.name}}
        </li>
      </ul>
        <section class="pokemon__image">
          <img [src]="pokemon.status.sprites.other.dream_world.front_default" [alt]="pokemon.name" width="125px" height="125px">
        </section>
      </section>
    </a>
  </ng-template>
</section>
