$padding: 1.25rem;
:host {
  .listagem {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: $padding 0;
    .pokemon {
      position: relative;
      display: flex;
      width: calc(49% - 2.5rem);
      height: 9.8rem - 2.5rem;
      background: var(--branco);
      border-radius: 0.6rem;
      margin-bottom: 0.6rem;
      padding: $padding;
      color: var(--primary-color);
      &__image {
        position: absolute;
        bottom: $padding;
        right: $padding;

        //background: url('../../../assets/bg/bg-pokemon.svg') no-repeat;
      }
      &__status {
        h2 {
          font-size: 1.4rem;
          font-style: italic;
          font-weight: 700;
          text-transform: capitalize;
          margin-bottom: 0.6rem;
        }

        ul {
          display: flex;
          flex-direction: column;

          li {
            background: var(--cinza);
            font-size: 0.6rem;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 3.1rem;
            width: 3.7rem;
            margin-bottom: 0.3rem;
            padding: 0.3rem;
          }
        }
      }
    }
  }

}
