

.btn {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  padding: 20px 0;
  border-radius: 10px;

  text-decoration: none;

  &__primary {
    color: var(--branco);
    background: var(--primary-color);
  }

  &__secondary {
    color: var(--branco);
    background: var(--secondary-color);
  }

}
