:host {
  form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.9rem 1.25rem;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 20px 0;

    input {
      width: 95%;
      background: none;
      border: none;

      font-size: 1.25rem;
      color: var(--branco);

      &::placeholder {
        color: var(--branco);
      }
    }
  }
}
