/* You can add global styles to this file, and also import other style files */
@use './config-scss/variable.scss';
@use './config-scss/reset.scss';
@use './config-scss/rem-calc.scss';
@use './config-scss/btn.scss';
@use './config-scss/animation.scss';

html {
  font-family: 'Roboto', sans-serif;
  background: var(--primary-color);
}
main {
  max-width: 37.5rem;
  margin: 0 auto;
  box-sizing: border-box;
}
